@model System.Collections.Generic.IEnumerable<dynamic>
These are your convos

<ul>
@foreach(var row in Model) {
    <li><a href="Conversation?id=@row.id">@row.topic</a> started by @row.created_by</li>
}
</ul>

<form method="POST" action="ConversationHub/Create">
    <input name="topic" placeholder="Topic" />
    <input type="submit" value="Create" />
</form>