@model System.Collections.Generic.IEnumerable<Domain.Conversation>
These are your convos

<ul>
@foreach(var conversation in Model) {
    <li>
        <a href="Conversation?id=@conversation.Id">@conversation.Topic</a>
        started by @conversation.CreatedBy.Name
    </li>
}
</ul>

<form method="POST" action="ConversationHub/Create">
    <input name="topic" placeholder="Topic" />
    <input type="submit" value="Create" />
</form>