@model Dto.DocumentListingDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h3>Upload a Document</h3>
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <div>
            
            <input name="file" type="file" />
        </div>
    </div>
    <div class="form-group">
        <div>
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>

<H3>Documents</H3>
<div>
    <ol>
    @foreach(var item in Model.Documents)
    {
        <li><a href="Document/View/@item.Id"> @item.FileName</a></li>
    }
    </ol>
</div>