@model dynamic

@{
    Layout = "~/Views/Conversation/Layout.cshtml";
}

<div class="container" style="position: fixed; top: 0; width: 100%">
    <nav class="navbar is-dark">
        <div class="navbar-item">
            <div class="navbar-link" style="background:inherit">
                <div style="color: whitesmoke">Logged in as @User.Identity.Name</div>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <section class="hero">
        <h1 class="title" style="margin: 60px 0 20px 0">@Model.topic</h1>
    </section>
</div>

<section id="messages"></section>

<form id="add-message" style="position: fixed; bottom: 0; width: 100%" class="columns is-mobile">
    <input type="hidden" name="conversationId" value="@Model.id" />
    <div class="column">
        <input id="message" name="message" placeholder="Message" class="input" />
    </div>
    <div class="column is-narrow">
        <input type="submit" value="Send" class="button"/>
    </div>
</form>

<template id="message-template">
    <div class="notification is-info">
        <div><strong class="mt-author"></strong></div>
        <div class="mt-message"></div>
    </div>
</template>

<script type="text/javascript">
    window.conversationId = @Model.id
</script>
<script type="text/javascript" src="/scripts/conversation/conversation.js"></script>