@model dynamic

@{
    Layout = "~/Views/Layout.cshtml";
}

<section class="section">
  <div class="container">

    <div class="columns">
      <div class="column">
        <h3 class="title is-2">
          Views per day
        </h3>
        <div id="mt-views-per-day" style="width:100%;height:500px"></div>
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64" style="padding-top: .5em">
              <img src="/images/increase_arrow.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span class="is-size-3"><strong>12%</strong> increase over September</span>
                <br>
                You set a new viewership record over the last 30 days
              </p>
            </div>
          </div>
      </article>
      </div>
      <div class="column">
        <h3 class="title is-2">
          Viewer location
        </h3>
        <div id="mt-user-map" style="width:100%;height:500px"></div>
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64" style="padding-top: .5em">
              <img src="/images/increase_arrow.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span class="is-size-3"><strong>80%</strong> increase in viewers from Canada</span>
                <br>
                Most of your viewers are located in America
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h3 class="title is-2">
          Investor types
        </h3>
        <div id="mt-viewer-type" style="width:100%;height:500px"></div>
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64" style="padding-top: .5em">
              <img src="/images/decrease_arrow.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <span class="is-size-3"><strong>-%</strong> ...</span>
                <br>
                ...
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column">
      </div>
    </div>

  </div>
</section>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="/scripts/stats/stats.js"></script>

</script>