<!DOCTYPE html>

<html>
    <head>
        <title>FinDecks</title>
        <style type="text/css">
        .hidden { display: none; }
        </style>
    </head>
    <body>
        <form id="mt-orgname-form">
            <h1>Let's get started!</h1>
            <input id="mt-orgname-input" placeholder="Your organization's name" />
            <input class="mt-schema" type="hidden"/>
            <div id="mt-schema-display"></div>
            <input type="submit" value="Go &raquo;" />
        </form>
        <form id="mt-presentation-form" class="hidden">

            <input class="mt-schema" type="hidden"/>
            <input type="submit" value="Go &raquo;" />
        </form>
        <script src="/scripts/signup/signup.js"></script>
    </body>
</html>