<!DOCTYPE html>

<html>
    <head>
        <title>FinDecks</title>
        <link rel="stylesheet" href="/styles/signup.css" />
    </head>
    <body>
        <form id="mt-orgname-form">
            <input id="mt-orgname-input" placeholder="Your organization's name" />
            <div id="mt-schema-display"></div>
            <input type="submit" value="Go &raquo;" />
        </form>
        <div id="mt-upload-presentation" class="hidden">
            Drop your presentation file here
        </div>
        <form id="mt-name-presentation-form" class="hidden">
            <input id="mt-presentation-name" />
            <input type="submit" value="Go &raquo;" />
        </form>
        <div id="mt-done" class="hidden">
            <p>All done!</p>
            <p>TODO AP : Share link</p>
            <p><a id="mt-dashboard-link">Go to your dashboard</a></p>
        </div>
        <object id="signup-image" type="image/svg+xml" data="/images/signup_desk.svg"></object>
        <script src="/scripts/dropzone/dropzone.js"></script>
        <script src="/scripts/signup/signup.js"></script>
    </body>
</html>