@model Dto.PresentationListingDto
<h1>Presentations</h1>

<form method="post">
    Name <input name='name'/> 
    <select>
        @foreach(var item in Model.Documents)
        {
            <option value="@item.Id">@item.FileName</option>
        }
    </select> 

    <input type="submit">
    
</form>
