
@model Dto.ViewPresentationDto

<style>
        .pdf-canvas {
            border:1px solid black;
        }  
</style>

<div id="presentation"></div>
<script src="/scripts/pdfjs/pdf.js"></script>
<script src="/scripts/signalr/signalr-client-1.0.0-alpha2-final.js"></script>
<script src="/scripts/presentations/presentation.js"></script>
<script>
    window.onload = function(){
        var options =  {
            url: '@Html.Raw(@Model.Url)',
            targetDiv: document.getElementById('presentation'),
            presentationName: '@Model.PresentationName',
            isPresenter: true,
            presentationKey: '@Model.ViewPresentationKey'
        }
        
        var presentation = new Presentation(options);
        presentation.start();   
    }
</script>