<!DOCTYPE html>

<section class="section">
    <div class="container">
        <h1 class="title is-2">Choose your own adventure!</h1>
        <p><a href="/Account/Login">Sign in to an existing site</a></p>
        <p>&nbsp;</p>
        <p><a href="/Account/Login?returnUrl=/Signup">Create a brand new FinDecks site for my organization</a></p>
    </div>
</section>