@{
    Layout = "~/Views/Layout.cshtml";
}

<section class="section">
    <div class="container">
        <h1 class="title">Welcome</h1>
        <h2 class="subtitle">
            This is a demo, which will eventually have a real landing page.<br/>
            In the interim, we've got this.
        </h2>
        <p>
            <a href="/OrganizationAdmin">Log in</a>
        </p>
    </div>
</section>