<!DOCTYPE html>

<html>
    <head>
        <title>FinDecks</title>
    </head>
    <body>
        <h1>Choose your own adventure</h1>
        <p><a href="/Account/Login">Sign in to an existing site</a></p>
        <p><a href="/Account/Login?returnUrl=/Signup">Create a brand new FinDecks site for my organization</a></p>
    </body>
</html>