@model Dto.PresentationListingDto

@{
    Layout = "~/Views/Layout.cshtml";
}


<section class="section">
<div class="container">
<div class="columns">
    <div class="column">
        <h1 class="title">Presentations</h1>
        <ul class="menu-list">
        @foreach(var presentation in Model.Presentations)
        {
            <li>
                <a class="has-text-primary" href="/Deck/Join/@presentation.Id">@presentation.Name</a>
            </li>
        }
        </ul>
    </div>
    <div class="column">
        <h1 class="title">Analytics</h1>
        <p><a href="/Stats">See your organization's statistics</a></p>
        <p><a href="/Stats/RealtimeMap">See who's looking at your presentations right now</a></p>
    </div>
</div>
</div>
</section>

<hr/>

<section class="section">
<div class="container">
    <h3 class="title is-4">Create a new presentation</h3>
    <div class="columns">
        <form method="post" enctype="multipart/form-data" action="/Presentation" class="column is-half">
            <div class="field">
                <p class="control">
                    <input class="input" name='Name' placeholder="Presentation title"/> 
                </p>
            </div>
            <div class="field">
                <div class="file has-name is-fullwidth">
                    <label class="file-label">
                        <input class="file-input" type="file" name="file" id="mt-file"/>
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fa fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Choose a file &hellip;
                            </span>
                        </span>
                        <span class="file-name" id="mt-filename"></span>
                    </label>
                </div>
            </div>
            <article class="message">
                <div class="message-body">
                    <strong>Future direction:</strong> Allow more customization of presentation, including the addition of additional resources.
                </div>
            </article>
            <div class="field">
                <p class="control">
                <input class="button is-primary" type="submit" value="Create" disabled id="mt-create-presentation">
                </p>
            </div>
        </form>
    </div>
</div>
</section>

<script src="/scripts/home/organization.js" asp-append-version="true"></script>