@model Dto.PresentationListingDto

@{
    Layout = "~/Views/Layout.cshtml";
}


<section class="section">
<div class="container">
    <h1 class="title">Presentations</h1>
    <ul class="menu-list">
    @foreach(var presentation in Model.Presentations)
    {
        <li>
            <a href="/Deck/Join/@presentation.Id">@presentation.Name</a>
        </li>
    }
    </ul>
</div>
</section>

<hr/>


<section class="section">
<div class="container">
    <h3 class="title is-4">Create a new presentation</h3>
    <form  method="post">
        <div class="field is-grouped">
            <p class="control is-expanded">
                <input class="input" name='Name' placeholder="Presentation name"/> 
            </p>
            <p class="control">
            <select class="select" name='DocumentId'>
                @foreach(var item in Model.Documents)
                {
                    <option value="@item.Id">@item.FileName</option>
                }
            </select>
            </p>
            <p class="control">
            <input class="button is-primary" type="submit" value="Create">
            </p>
        </div>
    </form>
</div>
</section>